* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.logo {
  margin-left: 180px;
  margin-top: 26px;
  margin-bottom: 30px;
  margin-right: 70px;
  width: 160px;
  height: 23.41px;
  align-items: center;
}
.customnav {
  display: flex;
  align-items: center;
}
.customnav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.customnav li {
  list-style: none;
  margin-right: 1px;
}
.probar {
  width: 59px;
  height: 6px;
  background: #1dc3a6;
  border-radius: 99px 0px 0px 99px;
}
.wrapper {
  width: 850px;
  margin: 0 auto;
}
.wrapper .txt {
  display: flex;
  justify-content: space-between;
}
.money {
  display: inline-block;
}
.divider {
  width: 840px;
  height: 1px;
  margin: 0 auto;
}
.item{
  height: 140px;
  background-color: royalblue;
}
.wrapper .itemtable{
  display: flex;
  justify-content: space-between;
}